@use '../../lib';

.wrapper {
  margin-top: 50px;
  margin-bottom: 50px;
  display: flex;
}

.textWrapper {
  width: 50%;
  flex-shrink: 0;
}

.header {
  font-weight: lib.$weight-bold;
  font-size: 3.5rem;
  color: lib.$very-dark-blue;
}

.text {
  color: lib.$grayish-violet;
  margin-bottom: 20px;
  font-size: 1.2rem;
}

.imageWrapper {
  width: 100%;
  position: relative;
}

.image {
  position: relative;
  width: 130%;
  height: auto;
  top: -25px;
  right: -40px;
}

@media (max-width: 900px) {
  .header {
    font-size: 2.5rem;
  }
  .text {
    font-size: 1rem;
  }
}
