@use '/src/lib';

.linkCardsWrapper {
  display: flex;
  flex-direction: column;
  gap: 25px;
  // & > *:not(:last-child) {
  //   margin-bottom: 25px;
  // }
}

.linkCardsBackground {
  background-color: lib.$light-gray;
  padding-top: 25px;
  padding-bottom: 25px;
}

.inputFormBackground {
  background-image: linear-gradient(transparent 50%, lib.$light-gray 50%);
}
