@use '/src/lib';

.linkCardsWrapper {
  display: flex;
  flex-direction: column;
  gap: 25px;
  // & > *:not(:last-child) {
  //   margin-bottom: 25px;
  // }
}

.linkCardsBackground {
  background-color: lib.$gray;
  padding-top: 25px;
  padding-bottom: 25px;
}

.error {
  color: hsl(0, 87%, 67%);
  font-style: italic;
  font-size: 0.7rem;
  margin-top: 5px;
}

.inputFormBackground {
  background-image: linear-gradient(transparent 50%, lib.$gray 50%);
}
