.linkCard {
  display: flex;
  justify-content: space-between;
  padding: 15px 35px;
  align-items: center;
  background-color: white;
  border-radius: 10px;
  font-size: 0.8rem;

  & > div {
    display: flex;
    gap: 15px;
    align-items: center;
  }

  animation-name: appearance;
  animation-duration: 0.5s;
}

@keyframes appearance {
  from {
    transform: translateY(-35px);
    opacity: 0;
  }

  to {
    transform: translateX(0);
    opacity: 1;
  }
}

@media (max-width: 650px) {
  .linkCard {
    flex-direction: column;
    align-items: flex-start;
    gap: 10px;
    & > div {
      flex-direction: column;
      align-items: flex-start;
      width: 100%;
      button {
        width: 100%;
      }
    }
  }
}
