.header {
  display: flex;
  justify-content: space-between;
  padding: 35px 0;
}

.navigationWrapper {
  display: flex;
  gap: 25px;
  align-items: center;

  a {
    display: flex;
  }

  ul {
    list-style: none;
    display: flex;
    gap: 20px;
  }
}

.buttons {
  display: flex;
  gap: 20px;
}
